/*
Joost Kooijman, 10760768
Dataprocessing week 3 barchart in d3
css for creating interactive barchart
*/

<style>
    .axis text{
      font-family: Helvetica, Arial, sans-serif;
      font-size: 6px;
      text-anchor: end;
    }
    .axis path{
      fill:none;
      stroke:black;
      stroke-width: 1.5px;
      shape-rendering: crispEdges;
    }
    .bar{
        stroke: none;
    }
    .textlabel{
        font-family: Helvetica, Arial, sans-serif;
        font-size:10px;
        text-anchor: middle;
    }
</style>

